In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics

In [2]:
# Read Dataset
ads = pd.read_csv('SocialNetworkAds.csv')
#Display Head of the dataset
ads.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [3]:
# Define X & Y Variables
X = ads.iloc[:,[2,3]].values
Y = ads.iloc[:,4].values

In [4]:
#Split Data s.t. test_size of 1/3 and train size of 2/3 from OG Dataset
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=1/3)
# Fit & Transaform the X
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [5]:
# Init KN Classifier
knclassifier = KNeighborsClassifier(n_neighbors =5)
knclassifier.fit(X_train,Y_train)

KNeighborsClassifier()

In [6]:
# Predict & Check Accuracy
Y_Predict = knclassifier.predict(X_test)
print("Accuracy",metrics.accuracy_score(Y_test,Y_Predict))

Accuracy 0.8432835820895522